tags
.cache
.idea
bin/*
build/*
examples/bin/*
tests/bin/*
*.rej
*.orig
*~
/*.patch
*.pyc
*.o
*.o[ls]

cscope.out

doc/src/.doctrees/

/src/liblightnvm.a
/src/liblightnvm.so*

/tests/dflash_test
/tests/lib_test

/spdk
